<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header__title"translate>Common.Compiler</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<wform
							[submition]="submition"
							[config]="formDoc"
							(wChange)="testAnswer()"
						></wform>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
