<div>
	<div class="group-item_title">Вибір групи</div>
	<wselect
		placeholder="Приєднайтеся або створіть групу"
		[select]="loaded ? classService.classId : null"
		[disabled]="!classService.classes.length"
		(modelChange)="setClass($event)"
		[items]="classService.classes"
		*ngIf="loaded"
	></wselect>
</div>

<div class="group-item_btns">
	<button class="w-btn" (click)="join()">
		<span>Приєднатись</span>
	</button>
	<button class="w-btn _green" (click)="create()">
		<span>Створити</span>
	</button>
</div>

@if(classService.mineClass && class) {
<div>
	<span>Код для приєднання: </span>
	<b (click)="copySample(class.code)">{{class.code}}</b>
	<span
		(click)="classService.showGlobalQrCode = true"
		style="margin-left: 10px"
		class="material-icons"
		>qr_code</span
	>
</div>
}
