<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<core-theme></core-theme>
				<div class="documents-header__title">Досягнення</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row" *ngIf="false">
						No achievements section
					</div>
					<div
						class="documents-main-row"
						*ngFor="let achievement of [{}, {}, {}]"
					>
						<div class="documents__title">
							Камінь, ножиці, папір
						</div>
						<div class="documents-wrap">
							<div class="documents-img">
								<img src="/assets/achievement.png" alt="" />
							</div>
							<div class="documents-text">
								<div class="documents-text__title">
									Honchar Denys
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
