<div class="documents-main-content">
	<div class="documents-main-row" *ngIf="false">No achievements section</div>
	<div class="documents-main-row" *ngFor="let achievement of [{}, {}, {}]">
		<div class="documents__title" *ngIf="!method">
			Камінь, ножиці, папір
		</div>
		<div class="documents-wrap">
			<div class="documents-img">
				<img
					style="width: 100px; height: 100px"
					src="/assets/achievement.png"
					alt=""
				/>
			</div>
			<div class="documents-text">
				<div class="documents-text__title">
					<span>Honchar Denys</span>

					<span>15.05.2025</span>
				</div>
			</div>
		</div>
	</div>
</div>
