<div class="documents-main-content">
	<div class="ta-c">
		<img
			style="width: 120px"
			src="/assets/default.png"
			alt="UA Code Менторство"
		/>
	</div>
	<h1>Менторство UA Code</h1>
	<hr />
	<h2>Підтримка досвідченого наставника для вашої команди.</h2>
	<h2>Ментор допоможе навчати UA Code та підвищить ефективність навчання.</h2>

	<blockquote>
		<p>
			<b>"UA Code"</b> пропонує програму менторства для бізнесів, шкіл і
			університетів. Ми надаємо ментора, який може працювати з вашими
			співробітниками чи викладачами та допомагати їм навчати
			програмуванню українською.
		</p>
		<p>
			Ментор може бути нашим спеціалістом або вашим працівником, якого ми
			додатково підготуємо й сертифікуємо. У будь-якому випадку він
			отримає методичну підтримку, доступ до матеріалів та програму
			розвитку.
		</p>
		<p>
			Оплата послуг здійснюється у вигляді фіксованого гонорару або
			погодинної ставки залежно від формату роботи. Це гнучке рішення для
			компаній і навчальних закладів, які хочуть впровадити UA Code у себе
			без великих початкових витрат.
		</p>
		<p>
			Ментор не лише навчає, а й супроводжує команду, допомагає у
			вирішенні завдань, організовує турніри, контролює якість викладання
			та надихає студентів чи учнів.
		</p>
	</blockquote>

	<section>
		<wform
			class="form-buy"
			[config]="formDoc"
			[submition]="submition"
		></wform>
	</section>
</div>
