@use 'src/scss/utils/mixins' as mixins;
@use 'src/scss/utils/media' as media;
@use 'src/scss/utils/vars' as vars;

/*.showTable {
	padding: 20px !important;
}*/

hr {
	border: none;
	border-top: 2px solid var(--c-text-primary);
	margin: 5px 0;
}

.theme-switch {
	position: absolute;
	right: 10px;
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	.material-icons {
		cursor: pointer;
	}
}
