<div class="wrapper" id="wrapper">
	<nav class="nav">
		<ul class="nav__ul container">
			<li class="nav__li">
				<a class="nav__a">
					<span
						class="material-icons"
						(click)="us.setMode(us.mode === 'dark' ? 'white' : 'dark')"
					>
						{{ us.mode === 'dark' ? 'dark_mode' : 'light_mode' }}
					</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/commands"
					class="nav__a"
				>
					<span class="material-icons">settings_input_component</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/compiler"
					class="nav__a"
				>
					<span class="material-icons">code</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/quizzes"
					class="nav__a"
				>
					<span class="material-icons">quiz</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/tournaments"
					class="nav__a"
				>
					<span class="material-icons">emoji_events </span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main">
		<router-outlet></router-outlet>
	</div>
</div>
