<div class="topbar">
	<a routerLinkActive="_activeLink" routerLink="/compiler">
		<span class="material-icons">code</span>
		<span>Компілятор</span>
	</a>
</div>
<div class="main">
	<router-outlet></router-outlet>
</div>
<nav class="footer">
	<a routerLinkActive="_activeLink" routerLink="/store" class="footer-link">
		<span class="material-icons">store</span>
		<span>Магазин</span>
	</a>
	<a
		routerLinkActive="_activeLink"
		routerLink="/commands"
		class="footer-link"
	>
		<span class="material-icons">settings_input_component</span>
		<span>Команди</span>
	</a>

	<a routerLinkActive="_activeLink" routerLink="/quizzes" class="footer-link">
		<span class="material-icons">quiz</span>
		<span>Квізи</span>
	</a>
	<a
		routerLinkActive="_activeLink"
		routerLink="/tournaments"
		class="footer-link"
	>
		<span class="material-icons">emoji_events </span>
		<span>Турніри</span>
	</a>
</nav>
