<a routerLink="/achievements">
	<span class="material-icons">emoji_events</span>
</a>
<core-class></core-class>
<ng-container *ngIf="classService.classId">
	<h1 class="mb15">Групові турніри</h1>
	<div
		*ngFor="let method of methods"
		class="c-item"
		routerLink="/tournament/class/{{method}}"
	>
		<div>{{name[method]}}</div>
		<i class="material-icons">open_in_new</i>
	</div>
</ng-container>

<h1 class="mb15">Світові турніри</h1>
<div
	*ngFor="let method of methods"
	class="c-item"
	routerLink="/tournament/public/{{method}}"
>
	<div>{{name[method]}}</div>
	<i class="material-icons">open_in_new</i>
</div>
