<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<!-- TODO Andrew, why when we remove documents-header-left, things got broken -->
					<div class="documents-header-left__arrow">
						<span class="material-icons">brokenicon</span>
					</div>
				</div>
				<div class="documents-header__title">Tournaments</div>
				<div class="burger-wrap" (click)="add()">
					<span class="material-icons">add</span>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<div class="documents-tags">
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
