.insta-block {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.c-item {
	background: #fff;
	box-shadow: 0 1px 8px rgb(0 0 0 / 22%);
	border-radius: 10px;
	padding: 8px 15px;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	font-size: 18px;
	color: #333;
	align-items: center;
	& + & {
		margin-top: 12px;
	}
	i {
		color: #ccc;
	}
}
