.topbar {
	padding: 12px 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding-top: calc(env(safe-area-inset-top) + 12px);
}
.topbar-compiler {
	display: flex;
	color: #fff;
	align-items: center;
	line-height: 1;
	font-size: 16px;
	border-bottom: 1px solid transparent;
	i {
		font-size: 21px;
		margin-right: 5px;
		margin-top: -2px;
	}
	&._activeLink {
		color: #fefd70;
		border-bottom: 1px solid #fefd70;
	}
}
.topbar-back {
	position: absolute;
	left: 15px;
	top: calc(env(safe-area-inset-top) + 10px);
	color: #fff;
}
