<div *ngIf="classService.mineClass" class="burger-wrap" (click)="mutate()">
	<span class="material-icons">edit</span>
</div>
<div class="documents-main-content" *ngIf="loaded">
	<div *ngIf="quiz?.description" class="documents-main-row">
		<div
			class="documents__description"
			*ngIf="quiz?.description"
			[innerHtml]="quiz.description"
		></div>
	</div>
	<div *ngIf="participations.length" class="documents-main-row">
		<div class="documents__title">Учасники</div>
		<div class="documents__description">
			<ul>
				<li *ngFor="let participant of participations">
					<span>{{participant.name}}</span>
					<span
						class="material-icons"
						*ngIf="classService.mineClass"
						(click)="loadParticipant(participant)"
						>play_arrow</span
					>

					<winput
						*ngIf="classService.mineClass"
						[value]="participant.grade"
						(wChange)="updateGrade(participant, $event)"
					></winput>

					<span *ngIf="!classService.mineClass && participant.grade">
						({{participant.grade}})</span
					>
				</li>
			</ul>
		</div>
	</div>

	<div
		class="documents-main-row"
		*ngIf="classService.mineClass && participation"
	>
		<div class="documents__title">{{participation.name}}</div>

		<winput
			type="textarea"
			[value]="participation.code"
			[disabled]="true"
			placeholder="code"
		></winput>

		<winput
			type="textarea"
			[value]="output"
			[disabled]="true"
			placeholder="output"
		></winput>
	</div>

	<div class="documents-main-row" *ngIf="!classService.mineClass">
		<wform [config]="participateForm" [submition]="submition"></wform>
	</div>
</div>
