<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<core-theme></core-theme>
				<div class="documents-header__title">
					{{quiz.name || (`Common.No name` | translate)}}
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content" *ngIf="loaded">
					<div *ngIf="quiz?.description" class="documents-main-row">
						<div
							class="documents__description"
							*ngIf="quiz?.description"
							[innerHtml]="quiz.description"
						></div>
					</div>
					<div
						*ngIf="participations.length"
						class="documents-main-row"
					>
						<div class="documents__title">Participants</div>
						<div class="documents__description">
							<ul>
								<li *ngFor="let participant of participations">
									<span>{{participant.name}}</span>
									<span
										class="material-icons"
										*ngIf="mine"
										(click)="loadParticipant(participant)"
										>play_arrow</span
									>

									<winput
										*ngIf="mine"
										[value]="participant.grade"
										(wChange)="updateGrade(participant, $event)"
									></winput>

									<span *ngIf="!mine && participant.grade">
										({{participant.grade}})</span
									>
								</li>
							</ul>
						</div>
					</div>

					<div
						class="documents-main-row"
						*ngIf="mine && participation"
					>
						<div class="documents__title">
							{{participation.name}}
						</div>

						<winput
							type="textarea"
							[value]="participation.code"
							[disabled]="true"
							placeholder="code"
						></winput>

						<winput
							type="textarea"
							[value]="output"
							[disabled]="true"
							placeholder="output"
						></winput>
					</div>

					<div class="documents-main-row" *ngIf="mine && quiz">
						<div class="documents__title">Admin</div>

						<winput
							placeholder="name"
							[value]="quiz.name"
							(wChange)="updateQuiz('name', $event)"
						></winput>

						<winput
							type="textarea"
							placeholder="description"
							[value]="quiz.description"
							(wChange)="updateQuiz('description', $event)"
						></winput>
					</div>
					<div class="documents-main-row" *ngIf="!mine">
						<wform
							[config]="participateForm"
							[submition]="submition"
						></wform>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
