<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<core-theme></core-theme>
				<div class="documents-header__title">
					{{tournament ? tournament.name || (`Common.No name
					tournament` | translate) : method}}
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngIf="tournament?.description || tournament?.tags?.length"
						class="documents-main-row"
					>
						<div
							class="documents__description"
							*ngIf="tournament?.description"
							[innerHtml]="tournament?.description"
						></div>
						<div class="documents-tags">
							<div
								class="documents-tags__wrap"
								*ngFor="let tag of tournament?.tags"
							>
								<div class="documents-tags__item">{{tag}}</div>
							</div>
						</div>
					</div>
					<div
						*ngIf="participations.length"
						class="documents-main-row"
					>
						<div class="documents__title">Participants</div>
						<div class="documents__description">
							<ul>
								<li *ngFor="let participant of participations">
									<span>{{participant.name}}</span>
									<span *ngIf="participant.points">
										- {{participant.points}}</span
									>
								</li>
							</ul>
						</div>
					</div>
					<div class="documents-main-row" *ngIf="mine && tournament">
						<div class="documents__title">Admin</div>
						<div
							class="documents__description"
							*ngIf="tournament.code"
						>
							Code: {{tournament.code}}
						</div>

						<winput placeholder="name"></winput>

						<winput placeholder="description"></winput>

						<wselect
							placeholder="Select tournament tags"
							[items]="['Reality', 'One Mirror']"
							[select]="tournament.tags"
							[multiple]="true"
							(modelChange)="
								tournament.tags = $event;
								update()
							"
						></wselect>

						<wbutton (click)="start()">Start</wbutton>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">
							Інформація про {{name[method]}}
						</div>
						<div class="documents__description">
							<h3>Доступні зміни</h3>
							<pre>{{variables[method]}}</pre>
							<h3>Можливі варіанти для повернення вашого коду</h3>
							<ul>
								<li *ngFor="let option of options">
									{{option}}
								</li>
							</ul>
							<div style="position: relative">
								<h3>Базовий приклад коду</h3>
								<i
									style="position: absolute; top: 0; right: 0"
									class="material-icons"
									(click)="copySample()"
									>content_copy</i
								>
							</div>
							<pre>{{samples[method]}}</pre>
						</div>
					</div>
					<div class="documents-main-row">
						<wform
							[config]="participateForm"
							[submition]="submition"
						></wform>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
