<div class="documents-main-content">
	<div class="ta-c">
		<img style="width: 120px" src="/assets/default.png" alt="" />
	</div>

	<section class="insta-block" routerLink="/franchise">
		<div class="fg-1">
			<b>Франшиза:</b><br />
			<div>
				«Стань частиною мережі та розвивай UA Code у своєму місті»
			</div>
		</div>
		<i class="material-icons" style="font-size: 44px; color: orange"
			>storefront</i
		>
	</section>

	<section class="insta-block" routerLink="/mentor">
		<div class="fg-1">
			<b>Ментор:</b><br />
			<div>
				«Отримай підтримку досвідчених наставників на кожному етапі»
			</div>
		</div>
		<i class="material-icons" style="font-size: 44px; color: blue"
			>support_agent</i
		>
	</section>

	<section class="insta-block" routerLink="/opt">
		<div class="fg-1">
			<b>Оптове замовлення книг:</b><br />
			<div>
				«Замовляй навчальні матеріали великими партіями для шкіл та
				центрів»
			</div>
		</div>
		<i class="material-icons" style="font-size: 44px; color: green"
			>local_shipping</i
		>
	</section>

	<section class="insta-block" routerLink="/store">
		<div class="fg-1">
			<b>Магазин:</b><br />
			<div>«Освітні матеріали та товари UA Code онлайн»</div>
		</div>
		<i class="material-icons" style="font-size: 44px; color: purple"
			>shopping_bag</i
		>
	</section>

	<section class="insta-block">
		<div class="fg-1">
			<b>Instagram:</b><br />
			<a href="https://www.instagram.com/ua.code" target="_blank"
				>instagram.com/ua.code</a
			>
		</div>
		<a href="https://www.instagram.com/ua.code" target="_blank"
			><img src="/assets/instagram.png" alt=""
		/></a>
	</section>

	<section class="insta-block">
		<div class="fg-1">
			<b>Apple Store:</b><br />
			<a
				href="https://apps.apple.com/us/app/ua-code/id6744689084"
				target="_blank"
				>UA Code</a
			>
		</div>
		<a
			href="https://apps.apple.com/us/app/ua-code/id6744689084"
			target="_blank"
			><img src="/assets/instagram.png" alt=""
		/></a>
	</section>

	<section class="insta-block">
		<div class="fg-1">
			<b>Google Play:</b><br />
			<a href="https://www.instagram.com/ua.code" target="_blank"
				>UA Code</a
			>
		</div>
		<a href="https://www.instagram.com/ua.code" target="_blank"
			><img src="/assets/instagram.png" alt=""
		/></a>
	</section>
</div>
