<div class="documents-main-content">
	<div class="ta-c">
		<img style="width: 120px" src="/assets/default.png" alt="" />
	</div>
	<h1>Перша книга з програмування українською мовою</h1>
	<hr />
	<h2>Програмуй українською — легко, зрозуміло, сучасно.</h2>
	<h2>Навчайся з книгою та додатком, створеним спеціально для тебе!</h2>
	<blockquote>
		<p>
			<b>"uaCode"</b> — це перша книга, що відкриває світ програмування
			українською мовою, використовуючи спеціально розроблений український
			синтаксис. Вона поєднує сучасні технології з рідною мовою, щоб
			зробити навчання доступним, зрозумілим і захопливим.
		</p>
		<p>
			У книзі подано адаптовану термінологію, зрозумілу теорію, практичні
			приклади та завдання різної складності. Вона ідеально підходить як
			для самостійного опрацювання, так і для занять у класах або гуртках.
		</p>
		<p>
			Особливістю <b>"uaCode"</b> є мобільний додаток, що входить до
			комплекту книги. У ньому зібрано всі приклади коду та інтерактивні
			вправи, а також вбудоване середовище для написання та запуску коду.
			У додатку доступні змагання у форматі турнірів, де можна
			розв’язувати завдання, змагатися з іншими й перевіряти свої знання.
			Також є можливість створювати власні вправи для тестування друзів
			або учнів. Завдяки QR-кодам, розміщеним у книзі, можна миттєво
			перейти до прикладу або вправи в додатку.
		</p>
		<p>
			<b>"uaCode"</b> — це не просто посібник. Це повноцінна навчальна
			платформа, що робить програмування українською доступним, захопливим
			і по-справжньому сучасним.
		</p>
	</blockquote>
	<section class="insta-block">
		<div class="fg-1">
			<b>Instagram:</b><br />
			<a href="https://www.instagram.com/ua.code" target="_blank"
				>instagram.com/ua.code</a
			>
		</div>
		<a href="https://www.instagram.com/ua.code" target="_blank"
			><img src="/assets/instagram.png" alt=""
		/></a>
	</section>

	<section>
		<wform [config]="formDoc" [submition]="submition"></wform>
	</section>
</div>
