@use 'scss';

.wrong {
	.form-container {
		border: 3px solid red;
	}
}

.right {
	.form-container {
		border: 3px solid blue;
	}
}

.codeBlock {
	textarea {
		height: calc((100vh - 52px - 52px - 19px) /2);
	}
}
.documents-header {
	height: 52px;
}
